---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/167.160.32.235?token=<IP_INFO_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "167.160.32.235",
          "city": "Dallas",
          "region": "Texas",
          "country": "US",
          "loc": "32.7831,-96.8067",
          "org": "AS62874 Web2Objects LLC",
          "postal": "75201",
          "timezone": "America/Chicago"
        }
  recorded_at: Mon, 31 Mar 2025 19:09:54 GMT
recorded_with: VCR 6.3.1
