---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/?token=<IP_INFO_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "191.55.82.254",
          "hostname": "191-055-082-254.xd-dynamic.algartelecom.com.br",
          "city": "Patos de Minas",
          "region": "Minas Gerais",
          "country": "BR",
          "loc": "-18.5789,-46.5181",
          "org": "AS53006 ALGAR TELECOM S/A",
          "postal": "38700-000",
          "timezone": "America/Sao_Paulo"
        }
  recorded_at: Mon, 31 Mar 2025 14:20:25 GMT
recorded_with: VCR 6.3.1
